.search {
    margin: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.search input {
    width: 20rem;
    height: 2rem;
    border: 2px solid black;
    box-shadow: 20px 10px 30px #000000;
}

.search button {
    background-color: black;
    color: white;
    border: none;
    padding: 2px 7px;
}